.section_three {
  @include section;
}

.item_5 {
  background-color: #bcd1ff;
  width: var(--size_img);
  height: var(--size_img);
  border-radius: 16px 0px 0px 16px;
  img {
    margin: var(--margin_img);
    width: 78px;
    height: 71px;
  }
}
.item_6 {
  p {
    @include text_p;
    span {
      padding-left: 55px;
      font-size: 11px;
    }
  }
  h1 {
    @include text_h1;
  }
}
