<div class="section_two">
  <div class="item item_3">
    <img src="../img/Group_BIG.svg" alt="Social_Media" />
  </div>
  <div class="section_item_two">
    <div class="item item_4">
      <p>MEDIA <span>17 days ago</span></p>
      <h1>SMM starter pack, part 2: content promotion</h1>
    </div>
     <div class="item item_text">
      <p>
   This is the second part of the SMM starter pack series of articles. If you made it this far, you must be willing to learn about promoting business through social media. 
      </p>
    </div>
    <div class="footer">
      <img src="../img/Avatar_preety_woman.png" alt="Avatar" />
      <a href="#">Patricia Kemp</a>
      <a class="flex-end" href="#">Read more &rarrpl;</a>
    </div>
  </div>
</div>
</div>
