<div class="section_three">
  <div class="item item_5">
    <img src="../img/bussines_big.svg" alt="bussines" />
  </div>
  <div class="section_item_three">
    <div class="item item_6">
      <p>BUSINESS<span>1 month ago</span></p>
      <h1>11 Things I Wish I Knew When I Started My...</h1>
    </div>
    <div class="item item_text">
      <p>
        Here are 11 things I wish I knew when I started my business. I hope they
        will save you some time and some anguish because (experience is a good
        teacher here)...
      </p>
    </div>
    <div class="footer">
      <img src="../img/Avatar_black_woman)).png" alt="Avatar" />
      <a href="#">Lisa Barnes</a>
      <a class="flex-end" href="#">Read more &rarrpl;</a>
    </div>
  </div>
</div>
