<div class="section_one">
  <div class="item item_1">
    <img src="../img/leptop_big.svg" alt="laptop" />
  </div>
  <div class="section_one_item">
    <div class="item item_2">
      <p>PRODUCTIVITY <span>3 days ago</span></p>
      <h1>7 Skills of Highly Effective Programmers</h1>
    </div>
    <div class="item item_text">
      <p>
        Our team was inspired by the seven skills of highly effective
        programmers created by the TechLead. We wanted to provide our own take
        on the topic...
      </p>
    </div>
    <div class="footer">
      <img src="../img/Avatar.png" alt="Avatar" />
      <a href="#">Glen Williams</a>
      <a class="flex-end" href="#">Read more &rarrpl;</a>
    </div>
  </div>
</div>
